<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/base :: head('Create Post')">
</head>
<body>
<nav th:replace="fragments/base :: navbar-posts"></nav>
<main>

    <h1>Create a Post</h1>
    <form th:action="@{/posts/create}" method="post" th:object="${post}">
        Title:
        <input th:field="*{title}"/>
        <br />
        Body:
        <input th:field="*{body}"/>
        <br />
        <input type="submit" />
    </form>

</main>
<footer th:replace="fragments/base :: footer"></footer>
<div th:replace="fragments/base :: scripts"></div>
</body>
</html>