<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include = "fragments/base :: head('Log In')">
</head>
<body>
<nav th:replace="fragments/base :: navbar-posts"></nav>

<main>

<h1>Log In</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="row">
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" />

        <label for="password">Password</label>
        <input id="password" name="password" type="password" />

        <input type="submit" value="Log In" />
    </form>
</div>

</main>
<nav th:replace="fragments/base :: footer"></nav>

</body>
</html>