<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/base :: head('Roll the Dice')">
</head>
<body>
<nav th:replace="fragments/base :: navbar-posts"></nav>
<h1 th:replace="fragments/base :: header"></h1>
<main>

    <p>Guess a number between 1 and 6.</p>
<ul>
    <li>
        <button>
            <a href="/roll-dice/1">1</a>
        </button>
    </li>
    <li>
        <button>
            <a href="/roll-dice/2">2</a>
        </button>
    </li>
    <li>
        <button>
            <a href="/roll-dice/3">3</a>
        </button>
    </li>
    <li>
        <button>
            <a href="/roll-dice/4">4</a>
        </button>
    </li>
    <li>
        <button>
            <a href="/roll-dice/5">5</a>
        </button>
    </li>
    <li>
        <button>
            <a href="/roll-dice/6">6</a>
        </button>
    </li>
</ul>
</main>

<footer th:replace="fragments/base :: footer"></footer>
<div th:replace="fragments/base :: scripts"></div>
</body>
</html>