<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Guess a Number</title>
</head>
<body>
    <h1>Guess a number between 1 and 6.</h1>
<ul>
    <li>
        <button>
            <a href="/roll-dice/1">1</a>
        </button>
    </li>
    <li>
        <button>
            <a href="/roll-dice/2">2</a>
        </button>
    </li>
    <li>
        <button>
            <a href="/roll-dice/3">3</a>
        </button>
    </li>
    <li>
        <button>
            <a href="/roll-dice/4">4</a>
        </button>
    </li>
    <li>
        <button>
            <a href="/roll-dice/5">5</a>
        </button>
    </li>
    <li>
        <button>
            <a href="/roll-dice/6">6</a>
        </button>
    </li>
</ul>
</body>
</html>